.templ--page-main {
	margin: 0; // No need for margin as PNG includes padding 
	margin-bottom: $margin--general;
}

@media (min-width: $media-mobile) {
	.templ--page-main {
		margin: $margin--general 0;
	}
}

@media (min-width: $media-tablet) {
	.templ--page-main {
		margin: $margin--general*2 0;
	}
}

.mol--response {
	margin-top: $margin--small;
	padding: $padding--small;
	border-radius: 10px;
	background-color: #eeeeee;
	& span.ut--small {
		font-size:0.8rem;
	}
}


// Split this all so it's re-usable CSS + universal
.templ--page-drag {
	margin-top: 20px;
	margin-bottom: 40px;
	& .mol--columns {
		padding: 10px;
		background: rgba(0,0,0,0.04);
	}
}

.cost-comparison {
	margin-top: 20px;
	margin-bottom: 40px;
}

.col-foot {
	padding: 10px;
	& .col {
		padding: 10px;
		background: none;
		border-top: 3px solid #000;
	}
}

div[id*="total-column-"] {
	font-size: 1.4rem;
}

.col {
	//position: relative;
	//border: 1px dashed #ccc;
	background: rgba(red, 0.1);
	padding: 10px;
	margin: 5px;
	
}

.card {
	background: rgba(red, 0.1);
}

.col-head {
	& .col {
		background: none;
		& p {
			font-size: 0.9rem;
			font-style: italic;
		}
	}
	& h2 {
		margin-bottom: 5px;
		
	}
}

.cloud-costs-column {
	padding: 0 10px;
	& .col {
		background-color: rgba(0,0,0,0.03);
	}
	& .card:hover {
		cursor: default;
	}
}

.molTotalCost02, .molTotalCost03 {
	border-left: 5px solid black;
	padding-left: 15px;
}